@import url('./fonts.css');

.about-section {
    margin: 20px 0px 50px 200px;
    color: var(--text-color-2);
    display: grid;
    grid-template-columns: auto auto;
    font-family: Calibre;
}

.about-p-1 {
    color: var(--text-color-4);
    width: 560px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    font-family: Calibre;
}
.list-2 {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10px;
    font-size: 23px;
    line-height: 17px;
    font-weight: 400;
    font-family: SF Mono Medium Medium Regular;
    overflow: hidden;
    justify-content: space-between;
    list-style: circle;
    margin: 40px 0px 0px;
}

.about-title {
    font-size: 32px;
    font-weight: 600;
    font-family: Calibre;
    margin-bottom: 30px;
}
.about-img {
    width: 250px;
    height: 280px;
    margin: 100px 240px 0px 0px;
    opacity: 0.5;
    -webkit-transition: .3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}
.about-img:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
}
@media only screen and (max-width: 600px) {
    .about-section {
        margin: 60px 0px 0px 40px;
        display: grid;
        grid-template-columns: auto;
    }
    .about-title {
        font-size: 26px;
        font-weight: 600;
        line-height: 29px;
    }
    .about-p-1 {
        font-size: 18px;
        line-height: 23px;
        font-weight: 400;
        width: 320px;
    }
    .about-img {
        margin: 80px 0px 0px 30px;
    }
}

